# Ignores generated Visual Studio files -
# except solution and project files
VSFiles/*
!VSFiles/BoxPricer.sln
!VSFiles/BoxPricer.vcxproj
!VSFiles/BoxPricer.vcxproj.filters
!VSFiles/resources
# Ignore spreadsheet for working with
*.xlsx
# Ignore user files
*.user
# Ignore Qt files
*.cache
*.stash
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*{*

